{% extends 'userhome.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}

<div class="card">

    <br> <H3 class="text-center" style="color:black;">ADD PRODUCT</H3>
    <br><br>
    <div class="task_list_main">

        <form method="post" enctype="multipart/form-data" style="color:black;margin-left:80px;margin-right:80px;">
                {% csrf_token %}
                {{form|crispy}}
    <div style="margin-left:500px;">
        <button class="btn btn-primary" type = "submit">Submit</button>
    </div>

    </form>
</div>
</div>




{% endblock %}