{% extends 'userhome.html' %}
{% block content %}


<div class="card" style="color:black">
    <br><br>
    <center>
        <h2>VIEW PRODUCT</h2>
    </center>
    <br><br>
   <table class="table">
    <tr>
      <th>SI.NO</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Edit</th>
    </tr>

    {% for i in data %}
    <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Product_name}}</td>
            <td>{{i.Product_description}}</td>
            <td>{{i.Product_quantity}}</td>
            <td>{{i.Product_price}}</td>

        <td><a href="{% url 'update_product' i.id %}"><button class="btn btn-primary" type="submit">Update</button></a></td>
        <td><a href="{% url 'delete_product' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>
    </tr>

   {% endfor %}
</table>
</div>

{% endblock %}